* {
    margin: 0;
    padding: 0;
}

/* Estilos css de la primera pagina INICIO */
h1 {
    background-color: orange;
    color: rgb(18, 81, 135);
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Uchen', serif;
}

.navbar-1 {
    background-color: rgb(18, 81, 135);
    position: absolute;
    overflow: hidden;
    display: flex;
    font-family: 'Uchen', serif;
}

.container a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: orange;
}

#carouselExampleSlidesOnly {
    display: flex;
    justify-content: center;
}

.carousel {
    padding: 20px;
    justify-content: center;
}

.recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 18rem;
    margin-top: 20px;
}

.video-mapa {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    left: 20px;
}

.card-text {
    padding: 20px;
    text-align: left;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: sticky;
}

#redes-sociales {
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
/* Fin estilos de la pagina INICIO */

/* Estilos de la pagina COCTELES */
.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: black;
    opacity: 50%;
    font-size: 30px;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    opacity: 50%;
    font-size: 20px;
}

section .imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

section .texto-cocteles {
    background-color: rgb(18, 81, 135);
    color: orange;
    margin: 20px;
    padding: 10px 0px;
}

/* Fin de estilos de la pagina cocteles */

















@media screen and (max-width: 480px) {
    .video {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .footer {

        width: 90%;
        justify-content: center;
        align-items: center;
    }

    #redes-sociales {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }

    #footer-title {
        margin: 0px auto;
    }

    .card-text {
        text-align: center;
    }
    
}

@media screen and (max-width: 480px) {
    section .imagenes {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    section .contenedor {
        padding-top: 20px;
    }
}